---
import { getHomePermalink } from '~/utils/permalinks';
---

<footer class="relative border-t border-gray-200 dark:border-slate-800 not-prose">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    
    <!-- روابط بسيطة -->
    <div class="flex flex-col sm:flex-row justify-center gap-4 mb-4 text-sm">
      <a href="/privacy-policy" class="text-muted hover:text-gray-700 hover:underline">Politique de Confidentialité</a>
      <a href="/cgu" class="text-muted hover:text-gray-700 hover:underline">CGU</a>
      <a href="/contact" class="text-muted hover:text-gray-700 hover:underline">Contactez-nous</a>
    </div>

    <!-- حقوق الملكية -->
    <div class="text-sm text-muted text-center">
      2025 Livraison Plus. Tous droits réservés.
    </div>
  </div>
</footer>
